@font-face {
    font-family: Ubuntu;
    src: local("Ubuntu"),
        local("Ubuntu"),
        url("assets/Ubuntu.ttf");
    font-weight: normal;
}

* {
    font-family: 'Ubuntu';
}

html {
    background-color: #e8e8e8;
}

nav>h1 {
    font-size: 2em;
}

nav>ul>li>a {
    color: black;
    text-decoration: none;
}

nav {
    max-width: 93%;
    margin: 0 auto;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5%;
}

nav .logo-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
    z-index: 10;
}

nav .logo-link .logo-img {
    font-size: 3em;
}

nav .toggle-menu {
    display: block;
    height: 30px;
    margin-right: 20px;
    z-index: 10;
}

nav .toggle-menu .toggle-icon-line {
    margin-bottom: 8px;
    width: 40px;
    height: 3px;
    background: #f8b500;
    transition: 500ms;
    opacity: 1;
    border-radius: 30px;
}

nav #main-nav {
    background-color: #009688;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    opacity: 0;
    transition: 500ms;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    list-style: none;
}

nav #main-nav li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 900;
    width: 100%;
    text-align: center;
    transition: 300ms;
    cursor: pointer;
    color: #fff;
}

nav #main-nav li:hover {
    background-color: #f8b500;
}

#placeholder h1 {
    text-align: left;
    margin-top: 20px;
    font-size: 2em;
}

#placeholder {
    text-align: justify;
    padding: 10px;
    margin-left: 5%;
    margin-right: 2%;
    position: fixed;
    top: 110px;
    left: 10px;
    bottom: 110px;
    right: 5px;
    overflow-y: scroll;
}

#footer {
    padding-right: 20px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#contact {
    float: right;
    text-align: right;
}

.rotate-first {
    transform: rotate(45deg) translateY(15px);
}

.hide-second {
    opacity: 0 !important;
}

.rotate-third {
    transform: rotate(-45deg) translateY(-15px);
}

.display-menu {
    opacity: 1 !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 600px) {
    nav #main-nav {
        padding-top: 100px;
    }
}

@media all and (max-height: 550px) {
    nav #main-nav {
        padding-top: 100px;
    }
}

.bubbly-button {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin: 30px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #009688;
    color: #fff;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #009688;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
    border-radius: 30px;
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -100%;
    background-image:
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #009688 20%, transparent 30%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #009688 15%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}

.bubbly-button:after {
    display: none;
    bottom: -100%;
    background-image:
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #009688 15%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%),
        radial-gradient(circle, #009688 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: darken(#009688, 5%);
    box-shadow: 0 2px 25px rgba(0, 150, 136, 0.5);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

.bubbly-button:hover {
    background-color: white;
    color: #009688;
    border-style: solid;
    border-width: 2px;
    border-color: #009688;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.wifi-symbol {
    display: none;
}

.wifi-symbol [foo], .wifi-symbol {
    position: relative;
    top: -85px;
    display: inline-block;
    height: 150px;
    left: 75px;
    -ms-transform: rotate(0deg) translate(-100px);
    -moz-transform: rotate(0deg) translate(-100px);
    -o-transform: rotate(0deg) translate(-100px);
    -webkit-transform: rotate(0deg) translate(-100px);
    transform: rotate(0deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #009688;
    border-style: solid;
    border-width: 0.5em 0.5em 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    opacity: 0;
    -o-animation: wifianimation 2s infinite;
    -moz-animation: wifianimation 2s infinite;
    -webkit-animation: wifianimation 2s infinite;
    animation: wifianimation 2s infinite;
}

.wifi-symbol .wifi-circle.first {
    width: 7em;
    height: 7em;
    -o-animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.second {
    width: 5em;
    height: 5em;
    -o-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.third {
    width: 3em;
    height: 3em;
}

@-o-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
}

@-moz-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
}

@-webkit-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}
