#placeholder
{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    left: 0px;
    right: 0px;
}

.media
{
    width: 100%;
}

#motto h2 
{
    text-align: center;
    margin-bottom: 10%;
}

#offers
{
    display: flex;

}

#offers img
{
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#offers h4
{
    text-align: center;
    margin-top: 2%;
}

#offers span
{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section h3
{
    text-align: center;
}

.section
{
    margin: 10px;
}

#review
{
    width: 70%;
    margin: auto;
}

.section p 
{
    text-align: justify;
}