html {
    background-color: #e8e8e8;
}

#header {
    background-color: #615e5e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px 20px 10px;
}

#footer {
    background-color: #615e5e;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

#container {
    margin: 100px;
    margin-top: 150px;
    margin-left: 200px;
    background-color: #009688;
}

#icon {
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
}

#icon-menu {
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 20px;
}

#title-text {
    font-size: 25px;
}

#contact {
    overflow: auto;
}

#contact-text {
    float: right;
    margin-right: 30px;
}

.dropbtn img {
    -webkit-transition: all 0.2s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.2s ease;
    /* Firefox */
    -ms-transition: all 0.2s ease;
    /* IE 9 */
    -o-transition: all 0.2s ease;
    /* Opera */
    transition: all 0.2s ease;
}

.dropbtn:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.dropbtn {
    background-color: #615e5e;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}
