#title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 10px;
}

#title-button {
    flex-grow: 8;
    text-align: right;
    margin-right: 40px;
}

#capteurs-pannel {
    border: none;
    margin-right: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.piece-pannel {
    margin: 30px;
    padding: 15px;
    border: solid;
    border: none;
    border-radius: 10px;
    background-color: #ddd;
}

.piece-pannel:hover {
    background-color: #e8e8e8;
    box-shadow: 0px 0px 10px #888888;
}

.piece-pannel-sub {
    margin: 10px;
    padding: 10px;
    border: none;
}

@media all and (max-width: 500px) {
    #title {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    #capteurs-pannel {
        flex-direction: column;
    }
}

a {
    color: black;
    text-decoration: none;
}
