h3 {
    font-size: 1em;
}

.collapsible {
    background-color: #009688;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: #f8b500;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e8e8e8;
}

.content>div {
    margin: 20px;
}
